In [18]:
import numpy as np
import pandas as pd
import datetime

In [10]:
def dateconverter(day, month, year):
    return datetime(year, month, day)

datetime.datetime(12, 5, 4, 0, 0)

In [16]:
df = pd.read_csv("Hotel Reservations.csv")
df

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [22]:
df[df["arrival_date"] > 30]

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
76,INN00077,3,0,1,1,Meal Plan 1,0,Room_Type 4,267,2018,12,31,Online,0,0,0,121.50,0,Not_Canceled
103,INN00104,2,0,0,1,Meal Plan 1,0,Room_Type 1,16,2017,10,31,Online,0,0,0,95.00,1,Not_Canceled
181,INN00182,2,0,1,3,Meal Plan 1,0,Room_Type 1,86,2018,3,31,Online,0,0,0,82.45,1,Not_Canceled
247,INN00248,2,0,0,4,Meal Plan 1,0,Room_Type 4,18,2018,5,31,Online,0,0,0,112.80,0,Canceled
456,INN00457,2,1,1,3,Meal Plan 1,0,Room_Type 1,92,2018,10,31,Online,0,0,0,106.43,1,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35681,INN35682,1,0,0,1,Meal Plan 1,0,Room_Type 1,30,2018,8,31,Online,0,0,0,94.20,0,Not_Canceled
35877,INN35878,2,0,0,3,Meal Plan 1,0,Room_Type 1,40,2017,12,31,Offline,0,0,0,118.00,0,Not_Canceled
35923,INN35924,2,1,2,2,Meal Plan 1,0,Room_Type 1,173,2018,7,31,Online,0,0,0,114.75,2,Canceled
35964,INN35965,2,0,0,1,Meal Plan 1,0,Room_Type 1,1,2017,12,31,Online,0,0,0,135.00,1,Not_Canceled
36012,INN36013,2,1,2,2,Meal Plan 1,0,Room_Type 4,33,2017,10,31,Offline,0,0,0,63.75,1,Not_Canceled

In [19]:
df['date'] = df.apply(lambda row: datetime.datetime(row['arrival_year'], row['arrival_month'], row['arrival_date']), axis=1)

ValueError: day is out of range for month